@model UserAccount

@{
  Layout = null;
}

<li>
  <a id="posts" href="javascript:void(0);">
    <i class="icon-edit"></i>Postagens
  </a>
  <ul class="sub-menu">
    <li>
      <a href="@Url.Action("listall","posts", new {filter="all" })">
        <i class="icon-angle-right"></i>Listar
      </a>
    </li>
    @if (Model.Moderator == true && @ViewBag.UnrevisedPosts > 0)
    {
      <li>
        <a href="@Url.Action("listall","posts", new {filter="unrevisedPosts" })">
          <i class="icon-angle-right"></i>Postagens não revisadas
          <span style="background: salmon;" class="badge pull-right">
            @ViewBag.UnrevisedPosts
          </span>
        </a>
      </li>
    }
    @if (Model.Moderator == true && @ViewBag.UnrevisedComments > 0)
    {
      <li>
        <a href="@Url.Action("listall","posts", new {filter="unrevisedComments" })">
          <i class="icon-angle-right"></i>Comentários não revisados
          <span style="background: salmon;" class="badge pull-right">
            @ViewBag.UnrevisedComments
          </span>
        </a>
      </li>
    }
    <li>
      <a id="new-question-btn" href="#">
        <i class="icon-angle-right"></i>Nova Pergunta
      </a>
    </li>
    <li>
      <a id="new-document-btn" href="#">
        <i class="icon-angle-right"></i>Novo Documento
      </a>
    </li>
    <li>
      <a id="new-manual-btn" href="#">
        <i class="icon-angle-right"></i>Novo Manual
      </a>
    </li>
  </ul>
</li>