@model Engeman.Intranet.Models.ViewModels.UserEditViewModel;
@{string layout = null; }

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner()</script>
}

@{ Layout = layout;}

<link rel="stylesheet" href="~/css/edit-user-account.css" />


@await Component.InvokeAsync("PageHeader", "Editar usuário")

<div class="row">
  <div class="col-md-12">
    <div class="tabbable tabbable-custom tabbable-full-width">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-1" data-toggle="tab">Editar usuário</a></li>
        <li><a id="log-tab" href="#tab-2" data-toggle="tab">Log de dados</a></li>
      </ul>
      <div class="tab-content row">
        <div class="tab-pane active" id="tab-1">
          <form id="edit-user-form" class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="col-md-3">
              <div id="card-permissions">
                @{ var base64 = Convert.ToBase64String(Model.Photo);
                  var imasrc = string.Format("data:image/png;base64,{0}", base64);
                }
                <img src='@imasrc' />
                <div id="permission-text" class="text-center">Permissões</div>
                <div>
                  <div class="list-group-item permissions"><p class="permissions-p">Criar postagens</p><input id="create-post-radio" type="radio" checked="@Model.CreatePost" /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Editar próprias postagens</p><input id="edit-owner-post-radio" type="radio" checked="@Model.EditOwnerPost" /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Excluir próprias postagens</p><input id="delete-owner-post-radio" type="radio" checked="@Model.DeleteOwnerPost" /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Editar qualquer postagem</p><input id="edit-any-post-radio" type="radio" checked="@Model.EditAnyPost" /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Apagar qualquer postagem</p><input id="delete-any-post-radio" type="radio" checked="@Model.DeleteAnyPost" /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Exige aprovação de postagens e comentários</p><input id="need-revision-radio" type="radio" checked="@Model.Novice" /></div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label class="col-md-4 control-label">Ativo<span class="required">*</span></label>
                <div class="col-md-8">
                  @Html.CheckBox("active", Model.Active, new { @class = "switch" })
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Código do usuário<span class="required">*</span></label>
                <div class="col-md-2">
                  <input style="width: 84px;" class="form-control" name="id" type="text" value="@Model.Id" readonly />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Nome<span class="required">*</span></label>
                <div class="col-md-8">
                  <input type="text" name="name" class="form-control" value="@Model.Name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Nome de usuário<span class="required">*</span></label>
                <div class="col-md-8">
                  <input type="text" name="username" class="form-control" id="username-input" maxlength="30" value="@Model.Username">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">E-mail<span class="required">*</span></label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="text" name="email" class="form-control" id="email-input" readonly value="@Model.Email">
                    <span class="input-group-addon">&#64;engeman.com.br</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Departamento<span class="required">*</span></label>
                <div class="col-md-4">
                  <select class="form-control" id="departmentId" name="departmentId">
                    <option value="@Model.DepartmentId" selected>@Model.DepartmentDescription</option>
                    @if (ViewBag.Departments != null)
                    {
                      for (int i = 0; i < ViewBag.Departments.Count; i++)
                      {
                        if (ViewBag.Departments[i].Id != Model.DepartmentId)
                        {
                          <option value="@ViewBag.Departments[i].Id">@ViewBag.Departments[i].Description</option>
                        }
                      }
                    }
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Tipo de usuário<span class="required">*</span></label>
                <div class="col-sm-4">
                  <select title="<b>COMUM:</b> Pode editar e apagar postagens e comentários de própria autoria.<br/><b>NOVATO:</b> Pode editar e apagar postagens e comentários de própria autoria. Porém, a cada nova postagem ou novo comentário é necessário a aprovação de um moderador para que seja visível a todos.</br><b>MODERADOR:</b> Pode editar e apagar postagens e comentários de própria autoria ou de terceiros. Pode também aprovar postagens ou comentários de usuários novatos." class="form-control" id="permissions" name="userTypeCode">
                    <option value="@Model.UserTypeCode" selected>@Model.UserType</option>
                    @foreach (var item in ViewBag.Permissions)
                    {
                      if (item.Value != Model.UserTypeCode)
                      {
                        <option value="@item.Value">@item.Key</option>
                      }
                    }
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Criar postagens<span class="required">*</span></label>
                <div class="col-md-8">
                  @Html.CheckBox("createPost", Model.CreatePost, new { @class = "switch", id = "create-post-switch" })
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="textArea">Descrição</label>
                <div class="col-md-8">
                  <textarea name="description" class="form-control" id="textArea" rows="5">@Model.Description</textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Foto de perfil</label>
                <div class="col-md-8">
                  <input type="file" id="photo" name="photo" accept="image/jpeg, image/png, image/png" value="@Model.Photo" />
                  <label id="photo-limit">A imagem tem <span></span>MB e excede o tamanho máximo de 5MB</label>
                </div>
              </div>
            </div>
            <div class="col-md-12 form-vertical no-margin">
              <div class="form-actions">
                <button title="Voltar para os usuários" class="btn btn pull-left back-button"><i class="fa-solid fa-circle-arrow-left"></i>Voltar</button>
                <button class="btn btn-primary pull-right" type="submit">Salvar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane active" id="tab-2"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="~/js/edit-user-account.js"></script>