@model Engeman.Intranet.Models.UserAccount;

@{string layout = null;}

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/useraccount.css" />

<div class="body-content">
  @await Component.InvokeAsync("PageHeader", "Perfil de usuário")
  <!--=== Page Content ===-->
  <!--=== Inline Tabs ===-->
  <div class="row">
    <div class="col-md-12">
      <!-- Tabs-->
      <div class="tabbable tabbable-custom tabbable-full-width">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_overview" data-toggle="tab">Visão Geral</a></li>
          <li><a href="#tab_edit_profile" data-toggle="tab">Editar Perfil</a></li>
        </ul>
        <div class="tab-content row">
          <!--=== Overview ===-->
          <div class="tab-pane active" id="tab_overview">

            <div class="col-md-3">
              <div id="card-permissions">
                @{ var base64 = Convert.ToBase64String(Model.Photo);
                  var imasrc = string.Format("data:image/png;base64,{0}", base64);
                }
                <img src='@imasrc' />
              </div>
            </div>
            <div class="col-md-9">
              <div class="row profile-info">
                <div class="col-md-6">
                  <h1 class="text-center">@Model.Name</h1>
                  <dl class="dl-horizontal">
                    <dt>Nome de usuário:</dt>
                    <dd>@Model.Username</dd>
                    <dt>E-mail:</dt>
                    <dd>@Model.Email</dd>
                    <dt>Setor:</dt>
                    <dd>@ViewBag.Department.Description</dd>
                  </dl>
                  <p>@Model.Description</p>
                </div>
                <div class="col-md-6">
                  <div class="widget">
                    <p class="align-center"><strong>Minhas postagens e comentários</strong></p>
                    <div class="widget-content">
                      @await Component.InvokeAsync("PostsCommentsChart", "CurrentUser")
                    </div>
                  </div>
                </div>
              </div> <!-- /.row -->
            </div> <!-- /.col-md-9 -->
            <div class="col-md-12 permissions-div">
              <div id="permission-text" class="text-center">Permissões por tipo de postagem</div>
              <div class="col-md-3">
                <div class="group">
                  <div class="post-type">Informativa</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Postar</p><input type="radio" @(ViewBag.Permissions.PostType.Informative.CanPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Comentar postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Informative.CanComment ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Editar postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Informative.EditAnyPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Excluir postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Informative.DeleteAnyPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Requer moderação</p><input type="radio" @(ViewBag.Permissions.PostType.Informative.RequiresModeration ? "checked" : "") /></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="group">
                  <div class="post-type">Pergunta</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Postar</p><input type="radio" @(ViewBag.Permissions.PostType.Question.CanPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Comentar postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Question.CanComment ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Editar postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Question.EditAnyPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Excluir postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Question.DeleteAnyPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Requer moderação</p><input type="radio" @(ViewBag.Permissions.PostType.Question.RequiresModeration ? "checked" : "") /></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="group">
                  <div class="post-type">Manual</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Postar</p><input type="radio" @(ViewBag.Permissions.PostType.Manual.CanPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Comentar postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Manual.CanComment ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Editar postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Manual.EditAnyPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Excluir postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Manual.DeleteAnyPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Requer moderação</p><input type="radio" @(ViewBag.Permissions.PostType.Manual.RequiresModeration ? "checked" : "") /></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="group">
                  <div class="post-type">Documento</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Postar</p><input type="radio" @(ViewBag.Permissions.PostType.Document.CanPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Comentar postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Document.CanComment ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Editar postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Document.EditAnyPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Excluir postagens de terceiros</p><input type="radio" @(ViewBag.Permissions.PostType.Document.DeleteAnyPost ? "checked" : "") /></div>
                  <div class="list-group-item permissions"><p class="permissions-p">Requer moderação</p><input type="radio" @(ViewBag.Permissions.PostType.Document.RequiresModeration ? "checked" : "") /></div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Overview -->
          <!--=== Edit Account ===-->
          <div class="tab-pane" id="tab_edit_profile">
            <form id="edit-profile-form" class="form-horizontal" method="post" enctype="multipart/form-data">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label">Nome<span class="required">*</span></label>
                  <div class="col-md-8">
                    <input type="text" name="name" class="form-control" value="@Model.Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">Nome de usuário<span class="required">*</span></label>
                  <div class="col-md-8">
                    <input type="text" name="username" class="form-control" maxlength="30" value="@Model.Username" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">E-mail<span class="required">*</span></label>
                  <div class="col-md-8">
                    <input type="text" name="email" class="form-control" value="@Model.Email" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">Setor<span class="required">*</span></label>
                  <div class="col-md-8">
                    <input type="text" name="departmentDescription" class="form-control" value="@ViewBag.Department.Description" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">Foto de perfil</label>
                  <div class="col-md-8">
                    <input type="file" id="photo" name="photo" accept="image/jpeg, image/png" value="@Model.Photo" />
                    <label id="photo-limit">A imagem tem <span></span>MB e excede o tamanho máximo de 5MB</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="textArea">Descrição</label>
                  <div class="col-md-8">
                    <textarea class="form-control" id="textArea" name="description" rows="10">@Model.Description</textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-12 form-vertical no-margin">
                <div class="form-actions">
                  <input type="submit" value="Salvar e Sair" class="btn btn-primary pull-right">
                </div>
              </div>
            </form>
          </div>
          <!-- /Edit Account -->
        </div> <!-- /.tab-content -->
      </div>
      <!--END TABS-->
    </div>
  </div> <!-- /.row -->
</div>

<script src="~/js/useraccount.js"></script>