@model Engeman.Intranet.Models.ViewModels.UserEditViewModel;
@{string layout = null; }

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner()</script>
}

@{ Layout = layout;}

<link rel="stylesheet" href="~/css/edit-user-account.css" />


@await Component.InvokeAsync("PageHeader", "Editar usuário")

<div class="row">
  <div class="col-md-12">
    <div class="tabbable tabbable-custom tabbable-full-width">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-1" data-toggle="tab">Editar usuário</a></li>
        <li><a id="log-tab" href="#tab-2" data-toggle="tab">Log de dados</a></li>
      </ul>
      <div class="tab-content row">
        <div class="tab-pane active" id="tab-1">
          <form id="edit-user-form" class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="col-md-3">
              <div id="card-permissions">
                @{ var base64 = Convert.ToBase64String(Model.Photo);
                  var imasrc = string.Format("data:image/png;base64,{0}", base64);
                }
                <div class="img-container">
                  <img class="user-img" src='@imasrc' />
                </div>
                <input name="id" type="text" value="@Model.Id" hidden />
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label class="col-md-4 control-label">Ativo<span class="required">*</span></label>
                <div class="col-md-8">
                  @Html.CheckBox("active", Model.Active, new { @class = "switch" })
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Nome<span class="required">*</span></label>
                <div class="col-md-8">
                  <input type="text" name="name" class="form-control" value="@Model.Name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Nome de usuário<span class="required">*</span></label>
                <div class="col-md-8">
                  <input type="text" name="username" class="form-control" id="username-input" maxlength="30" value="@Model.Username">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">E-mail<span class="required">*</span></label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="text" name="email" class="form-control" id="email-input" readonly value="@Model.Email">
                    <span class="input-group-addon">&#64;engeman.com.br</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Departamento<span class="required">*</span></label>
                <div class="col-md-4">
                  <select class="form-control" id="departmentId" name="departmentId">
                    <option value="@Model.DepartmentId" selected>@Model.DepartmentDescription</option>
                    @if (ViewBag.Departments != null)
                    {
                      for (int i = 0; i < ViewBag.Departments.Count; i++)
                      {
                        if (ViewBag.Departments[i].Id != Model.DepartmentId)
                        {
                          <option value="@ViewBag.Departments[i].Id">@ViewBag.Departments[i].Description</option>
                        }
                      }
                    }
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Foto de perfil</label>
                <div class="col-md-8">
                  <input type="file" id="photo" name="photo" accept="image/jpeg, image/png, image/png" value="@Model.Photo" />
                  <label id="photo-limit">A imagem tem <span></span>MB e excede o tamanho máximo de 5MB</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-md-4 control-label" for="textArea">Descrição</label>
                <div class="col-md-8">
                  <textarea name="description" class="form-control" id="textArea" rows="13">@Model.Description</textarea>
                </div>
              </div>
            </div>
            <div class="col-md-12 permissions-div">
              <div id="permission-text" class="text-center">Permissões por tipo de postagem</div>
              <div class="col-md-12 template-div">
                <button class="template" data-template="moderator">Template 'Moderador'</button>
                <button class="template" data-template="default">Template 'Padrão'</button>
                <button class="template" data-template="novice">Template 'Novato'</button>
              </div>
              <div class="col-md-3">
                <div class="group">
                  <div class="post-type">Informativa</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Postar</p>@Html.CheckBox("permissions.PostType.Informative.CanPost", ViewBag.Permissions.PostType.Informative.CanPost, new { @class = "permissions can-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Comentar postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Informative.CanComment", ViewBag.Permissions.PostType.Informative.CanComment, new { @class = "permissions can-comment" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Editar postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Informative.EditAnyPost", ViewBag.Permissions.PostType.Informative.EditAnyPost, new { @class = "permissions edit-any-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Excluir postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Informative.DeleteAnyPost", ViewBag.Permissions.PostType.Informative.DeleteAnyPost, new { @class = "permissions delete-any-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Requer moderação</p>@Html.CheckBox("permissions.PostType.Informative.RequiresModeration", ViewBag.Permissions.PostType.Informative.RequiresModeration, new { @class = "permissions requires-moderation" })</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="group">
                  <div class="post-type">Pergunta</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Postar</p>@Html.CheckBox("permissions.PostType.Question.CanPost", ViewBag.Permissions.PostType.Question.CanPost, new { @class = "permissions can-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Comentar postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Question.CanComment", ViewBag.Permissions.PostType.Question.CanComment, new { @class = "permissions can-comment" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Editar postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Question.EditAnyPost", ViewBag.Permissions.PostType.Question.EditAnyPost, new { @class = "permissions edit-any-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Excluir postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Question.DeleteAnyPost", ViewBag.Permissions.PostType.Question.DeleteAnyPost, new { @class = "permissions delete-any-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Requer moderação</p>@Html.CheckBox("permissions.PostType.Question.RequiresModeration", ViewBag.Permissions.PostType.Question.RequiresModeration, new { @class = "permissions requires-moderation" })</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="group">
                  <div class="post-type">Manual</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Postar</p>@Html.CheckBox("permissions.PostType.Manual.CanPost", ViewBag.Permissions.PostType.Manual.CanPost, new { @class = "permissions can-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Comentar postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Manual.CanComment", ViewBag.Permissions.PostType.Manual.CanComment, new { @class = "permissions can-comment" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Editar postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Manual.EditAnyPost", ViewBag.Permissions.PostType.Manual.EditAnyPost, new { @class = "permissions edit-any-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Excluir postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Manual.DeleteAnyPost", ViewBag.Permissions.PostType.Manual.DeleteAnyPost, new { @class = "permissions delete-any-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Requer moderação</p>@Html.CheckBox("permissions.PostType.Manual.RequiresModeration", ViewBag.Permissions.PostType.Manual.RequiresModeration, new { @class = "permissions requires-moderation" })</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="group">
                  <div class="post-type">Documento</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Postar</p>@Html.CheckBox("permissions.PostType.Document.CanPost", ViewBag.Permissions.PostType.Document.CanPost, new { @class = "permissions can-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Comentar postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Document.CanComment", ViewBag.Permissions.PostType.Document.CanComment, new { @class = "permissions can-comment" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Editar postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Document.EditAnyPost", ViewBag.Permissions.PostType.Document.EditAnyPost, new { @class = "permissions edit-any-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Excluir postagens de terceiros</p>@Html.CheckBox("permissions.PostType.Document.DeleteAnyPost", ViewBag.Permissions.PostType.Document.DeleteAnyPost, new { @class = "permissions delete-any-post" })</div>
                  <div class="list-group-item permissions"><p class="permissions-p">Requer moderação</p>@Html.CheckBox("permissions.PostType.Document.RequiresModeration", ViewBag.Permissions.PostType.Document.RequiresModeration, new { @class = "permissions requires-moderation" })</div>
                </div>
              </div>
            </div>
            <div class="col-md-12 form-vertical no-margin">
              <div class="form-actions">
                <button title="Voltar para os usuários" class="btn btn pull-left back-button"><i class="fa-solid fa-circle-arrow-left"></i>Voltar</button>
                <button class="btn btn-primary pull-right" type="submit">Salvar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane active" id="tab-2"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="~/js/edit-user-account.js"></script>