@model Engeman.Intranet.Models.ViewModels.LoginViewModel;
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"] Login</title>
  <script type="text/javascript" src="~/lib/jquery/jquery-3.6.3.min.js"></script> @*Jquery*@
  <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script> @*Bootstrap.js*@
  <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> @*Bootstrap.css*@
  <link href="~/css/main.css" rel="stylesheet" type="text/css" /> @*Tema*@
  <link href="~/css/plugins.css" rel="stylesheet" type="text/css" /> @*Tema*@
  <link href="~/css/responsive.css" rel="stylesheet" type="text/css" /> @*Tema*@
  <link href="~/css/icons.css" rel="stylesheet" type="text/css" /> @*Tema*@
  <link href="~/css/login.css" rel="stylesheet" type="text/css" /> @*CSS*@
  <link rel="stylesheet" href="~/css/fontawesome/font-awesome.min.css"> @*Font-Awesome*@
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'> @*Fonte do Google*@
  <script type="text/javascript" src="~/plugins/uniform/jquery.uniform.min.js"></script> @*Checkboxes estilizados*@
  <script type="text/javascript" src="~/lib/jquery-validation/jquery.validate.min.js"></script> @*Validação do formulário*@
  <script type="text/javascript" src="~/lib/jquery-validation/messages_pt_BR.js"></script> @*Validação do formulário*@
  <script type="text/javascript" src="~/lib/jquery-validation/additional-methods.min.js"></script> @*Validação do formulário*@
  <script type="text/javascript" src="~/plugins/nprogress/nprogress.js"></script> @*Barra de progresso*@  
</head>

<body class="login">
  <div class="logo">
    <strong>ENGEMAN </strong>INTRANET
  </div>
  <div class="box">
    <div class="content">
      @using (Html.BeginForm("trylogin", "login", FormMethod.Post, new { @class = "form-vertical login-form" }))
      {
        @Html.AntiForgeryToken()
        <h3 class="form-title">Faça login em sua conta</h3>
        <div class="form-group">
          <div class="input-icon">
            <i class="icon-user"></i>
            @Html.TextBoxFor(loginModel => loginModel.Username, new
            {
              @class = "form-control required",
              placeholder = "Conta de domínio",
              autofocus = "autofocus",
              maxlength = "25",
            })
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i class="icon-lock"></i>
            @Html.PasswordFor(loginModel => loginModel.Password, new
             {
               @class = "form-control required",
               placeholder = "Senha",
               maxlength = "25",
             })
          </div>
        </div>
        <div class="form-actions align-center">
          <button type="submit" class="submit btn btn-primary">
            Entrar <i class="icon-angle-right"></i>
          </button>
        </div>
      }
    </div>
  </div>
  <div class="text-center">
    <br />
    <span>@ViewBag.AppVersion - @Engeman.Intranet.Helpers.GlobalFunctions.GetAssemblyBuildDateTime()</span>
    <br />
    <span>Copyright © 2023 - Todos os direitos reservados</span>
  </div>
  @if (TempData["Message"] != null)
  {
    @await Component.InvokeAsync("AlertModal", TempData["Message"]);
  }

  <script type="text/javascript" src="~/js/login.js"></script>
</body>

</html>