@using Microsoft.AspNetCore.Http;

@{
  Layout = null;
}

<link rel="stylesheet" href="~/css/components/comment-list.css" />

<div class="row">
  <div class="comments col-md-12" data-post-id="@ViewBag.PostId">
    <div class="widget">
      <div>
        @if (ViewBag.PostComments.Count == 0)
        {
          <h4>0 comentários</h4>
        }
        else
        {
          <h4><span id="comment-count">@ViewBag.PostComments.Count</span> comentário(s)</h4>
        }
      </div>
      @for (int i = 0; i < ViewBag.PostComments.Count; i++)
      {
        <div style="@(ViewBag.PostComments[i].Revised == false ? "background: Cornsilk" : "")" class="col-md-12 comment-box" data-user-id="@ViewBag.PostComments[i].UserId" data-comment-id="@ViewBag.PostComments[i].Id">

          <div id="editor-content-view" class="editor-content-view">@Html.Raw(@ViewBag.PostComments[i].Description)</div>
          <div>
            @if (@ViewBag.PostComments[i].Files.Count > 0)
            {
              <dl class="file-list">
                Anexo(s):
                @for (int j = 0; j < @ViewBag.PostComments[i].Files.Count; j++)
                {
                  <dd class="file"><a href="@Url.Action("showcommentfile", "comments", new { idComment = ViewBag.PostComments[i].Id, file = j })" target="_blank">@ViewBag.PostComments[i].Files[j].Name</a></dd>
                }
              </dl>
            }
          </div>

          <div>
            @if (ViewBag.PostComments[i].UserId == Context.Session.GetInt32("_UserAccountId") || Context.Session.GetInt32("_Moderator") == 1)
            {
              <div class="col-md-10 comment-action-buttons">
                <button class="comment-edit-btn btn btn-xs">Editar</button>
                <button class="comment-delete-btn btn btn-xs">Apagar</button>
                @if (ViewBag.PostComments[i].Revised == false && Context.Session.GetInt32("_Moderator") == 1)
                {
                  <button class="comment-aprove-btn btn btn-xs">Aprovar</button>
                }
              </div>
            }

            <figure class="fir-image-figure pull-right">
              <a class="fir-imageover" rel="noopener" target="_blank" href="#">
                @{var baseAux = Convert.ToBase64String(ViewBag.PostComments[i].Photo);
                  var imasrcAux = string.Format("data:image/png;base64,{0}", baseAux);
                }
                <img class="fir-author-image fir-clickcircle" src='@imasrcAux' />
              </a>
              <figcaption>
                <div class="fig-author-figure-title">@ViewBag.PostComments[i].Username</div>
                <div class="fig-author-figure-title">@ViewBag.PostComments[i].DepartmentName</div>
                <div class="fig-author-figure-title">@ViewBag.PostComments[i].ChangeDate</div>
              </figcaption>
            </figure>
            <div class="widget-header"></div>
            @if (ViewBag.PostComments[i].Revised == false && (ViewBag.UserAccount.Moderator == true || ViewBag.UserAccount.Id == ViewBag.PostComments[i].UserId))
            {
              <p id="awaiting-review" style="color:red" class="align-center">AGUARDANDO REVISÂO</p>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>

<script type="text/javascript" src="~/plugins/prism/js/prism.js"></script>
<script type="text/javascript" src="~/js/components/comment-list.js"></script>