@using Microsoft.AspNetCore.Http;

@{
  Layout = null;
}

<link rel="stylesheet" href="~/css/components/comment-list.css" />

<div class="row">
  <div class="col-md-12">
    <hr />
    @if (ViewBag.PostComments.Count == 0)
    {
      <h4>0 comentários</h4>
    }
    else
    {
      <h4><span id="comment-count">@ViewBag.PostComments.Count</span> comentário(s)</h4>
    }
  </div>
  <div class="comments col-md-12" data-post-id="@ViewBag.PostId">
    @for (int i = 0; i < ViewBag.PostComments.Count; i++)
    {
      <div class="col-md-12 comment-box" data-user-id="@ViewBag.PostComments[i].AuthorId" data-comment-id="@ViewBag.PostComments[i].Id">
        <div id="editor-content-view" class="col-md-12 editor-content-view">@Html.Raw(@ViewBag.PostComments[i].Description)</div>
        <div class="col-md-12">
          @if (@ViewBag.PostComments[i].Files.Count > 0)
          {
            <dl class="file-list">
              Anexo(s):
              @for (int j = 0; j < @ViewBag.PostComments[i].Files.Count; j++)
              {
                <dd class="file"><a href="@Url.Action("showcommentfile", "comments", new { idComment = ViewBag.PostComments[i].Id, file = j })" target="_blank">@ViewBag.PostComments[i].Files[j].Name</a></dd>
              }
            </dl>
          }
        </div>
        <div class="col-md-10 comment-action-buttons">
          @if (ViewBag.PostComments[i].AuthorId == Context.Session.GetInt32("_UserAccountId") || Context.Session.GetInt32("_Moderator") == 1)
          {
            <button title="Editar a postagem" class="comment-edit-btn btn btn-xs"><i class="fa fa-pencil"></i>Editar</button>
            <button title="Excluir a postagem" class="comment-delete-btn btn btn-xs"><i class="fa fa-trash-o"></i>Excluir</button>
            @if (ViewBag.PostComments[i].Revised == false && Context.Session.GetInt32("_Moderator") == 1)
            {
              <button title="Aprovar a postagem" class="comment-aprove-btn btn btn-xs"><i class="fa-solid fa-check"></i>Aprovar</button>
            }
          }
        </div>
        <div class="col-md-2 card">
          <span>comentada</span>
          <span>@ViewBag.PostComments[i].ChangeDate.GetDateTimeFormats()[0] às @ViewBag.PostComments[i].ChangeDate.GetDateTimeFormats()[22]</span>
          <figure class="fir-image-figure">
            <a class="fir-imageover">
              @{ var base64 = Convert.ToBase64String(ViewBag.PostComments[i].AuthorPhoto);
                var imasrc = string.Format("data:image/png;base64,{0}", base64);
              }
              <img class="fir-author-image fir-clickcircle" src='@imasrc'>
            </a>
            <figcaption>
              <div class="fig-author-figure-title">@ViewBag.PostComments[i].AuthorUsername</div>
              <div class="fig-author-figure-title">@ViewBag.PostComments[i].AuthorDepartment</div>
              <span title="Postagens realizadas"><i class="fa-regular fa-comment"></i>@ViewBag.PostComments[i].AuthorPostsMade</span>
              <span title="Postagens respondidas" ><i class="fa-regular fa-pen-to-square"></i>@ViewBag.PostComments[i].AuthorCommentsMade</span>
            </figcaption>
          </figure>
        </div>
        <div class="status-post align-center">
          @if (ViewBag.PostComments[i].Revised == false && (ViewBag.UserAccount.Moderator == true || ViewBag.UserAccount.Id == ViewBag.PostComments[i].AuthorId))
          {
            <i id="blinked-exclamation" class="fa-solid fa-triangle-exclamation"></i>
            <span >Aguardando Revisão</span>
          }
        </div>
        <div class="col-md-12">
          <hr />
        </div>
      </div>
    }
  </div>
</div>

<script type="text/javascript" src="~/plugins/prism/js/prism.js"></script>
<script type="text/javascript" src="~/js/components/comment-list.js"></script>