@model Engeman.Intranet.Models.PostArchiveViewModel;
@{List<Department> departments = ViewBag.Departments;}
@{List<int> restrictedDepartments = ViewBag.RestrictedDepartments;}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @*CSS*@
  <link rel="stylesheet" href="~/css/archivepostedit.css" />
  @*JavaScript*@
  <script type="text/javascript" src="~/js/custom.js"></script>
</head>

<body>
  <div id="container">
    <!--=== Page Header ===-->
    <div class="page-header">
      <div class="page-title">
        <h3>Detalhes da Postagem</h3>
        <span>Good morning, John!</span>
      </div>
      <!-- Page Stats -->
      <ul class="page-stats">
        <li>
          <div class="summary">
            <span>New orders</span>
            <h3>17,561</h3>
          </div>
          <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
          <!-- Use instead of sparkline e.g. this:
          <div class="graph circular-chart" data-percent="73">73%</div>
          -->
        </li>
        <li>
          <div class="summary">
            <span>My balance</span>
            <h3>$21,561.21</h3>
          </div>
          <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
        </li>
      </ul>
      <!-- /Page Stats -->
    </div>
    <!-- /Page Header -->
    <!--=== Page Content ===-->
    <div class="row">
      <!--=== Horizontal Forms ===-->
      <div class="col-md-12">
        <div class="widget box">
          <div class="widget-header">
            <h4><i class="icon-reorder"></i>Arquivo</h4>
          </div>
          <div class="widget-content">
            <form class="form-horizontal row-border" id="archive-post-edit-form" method="post">
              <div class="form-group">
                <label class="col-md-2 control-label">Id</label>
                <div class="col-md-1">
                  <input class="form-control" name="post.id" type="text" readonly value="@Model.Post.Id" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Restrito ao setor?<span class="required">*</span></label>
                <div class="col-md-10">
                  <input type="checkbox" id="restricted" name="Post.CheckIsRestricted" asp-for="@Model.Post.CheckIsRestricted">
                </div>
              </div>
              <div class="form-group departments-list">
                <label class="col-md-2 control-label">Setores<span class="required">*</span></label>
                <div class="col-md-10">
                  <select class="required" id="multiselect-department" multiple="multiple" name="DepartmentsList">
                    @{for (int i = 0; i < departments.Count; i++)
                      {
                        if (restrictedDepartments != null)
                        {
                          if (restrictedDepartments.Exists(x => x.Equals(departments[i].Id)))
                          {
                            <option selected="selected" value="@ViewBag.Departments[i].Id">@ViewBag.Departments[i].Description</option>
                          }
                          else
                          {
                            <option value="@ViewBag.Departments[i].Id">@ViewBag.Departments[i].Description</option>
                          }
                        }
                        else
                        {
                          <option value="@ViewBag.Departments[i].Id">@ViewBag.Departments[i].Description</option>
                        }
                      }
                    }
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Assunto<span class="required">*</span></label>
                <div class="col-md-10">
                  <input class="form-control required" id="subject" type="text" name="post.subject" asp-for="@Model.Post.Subject" value="@Model.Post.Subject">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Palavras chave</label>
                <div class="col-md-10">
                  <input class="tags" id="keywords" type="text" name="post.keywords" asp-for="@Model.Post.Keywords" value="@Model.Post.Keywords">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Descrição<span class="required">*</span></label>
                <div class="col-md-10">
                  <textarea class="form-control required" name="post.description" rows="3" cols="5">@Model.Post.Description</textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Tipo de arquivo<span class="required">*</span></label>
                <div class="col-md-3">
                  <label class="radio">
                    @Html.RadioButtonFor(model => model.Archive[0].ArchiveType, "D", new { @class = "archive-type required" })
                    Documento
                  </label>
                  <label class="radio">
                    @Html.RadioButtonFor(model => model.Archive[0].ArchiveType, "M", new { @class = "archive-type" })
                    Manual
                  </label>
                  <label for="Archive.ArchiveType" class="has-error help-block" generated="true"
                         style="display:none;"></label>
                </div>
              </div>
              <div class="form-group files">
                <label class="col-md-2 control-label">Arquivo(s)<span class="required">*</span><span class="archives-qty">0</span></label>
                <div class="col-md-10">
                  @for (int i = 0; i < Model.Archive.Count; i++)
                  {
                    <label class="checkbox">
                      @Html.HiddenFor(model => model.Archive[i].Id, new { @class = "archive-id" })
                      @Html.HiddenFor(model => model.Archive[i].Active, new { @class = "archive-active" })
                      <i title="Remover" class="icon-remove-circle"></i>@(i+1) -  <a href="@Url.Action("showarchive", "posts", new { idPost = Model.Post.Id, file = i })" target="_blank">@Model.Archive[i].Name</a>
                    </label>
                  }
                  <span class="archives-qty">0</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Novo(s) arquivo(s)</label>
                <div class="col-md-2">
                  <input id="file" type="file" name="binarydata" accept="application/pdf" multiple>
                </div>
              </div>
              <div class="form-actions">
                <button class="btn btn-primary pull-right" id="submit-button" type="submit">Salvar</button>
                <a class="btn pull-left" id="back-to-list-button">Cancelar alterações</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<script type="text/javascript" src="~/js/archivepostedit.js"></script>