<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @*CSS*@
  <link rel="stylesheet" href="~/plugins/prism/css/prism.css" />
  <link rel="stylesheet" href="~/css/document-manual-details.css" />
  @*JavaScript*@
  <script type="text/javascript" src="~/js/custom.js"></script>
</head>

<body>
  @Html.Partial("modals/_ConfirmModal", "comment")
  <div class="page-header">
    <div class="page-title">
      <h3>Detalhes da Postagem</h3>
      @*<span>Good morning, @Model.Name!</span>*@
    </div>
    <!-- Page Stats -->
    <ul class="page-stats">
      <li>
        <div class="summary">
          <span>New orders</span>
          <h3>17,561</h3>
        </div>
        <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
        <!-- Use instead of sparkline e.g. this:
        <div class="graph circular-chart" data-percent="73">73%</div>
        -->
      </li>
      <li>
        <div class="summary">
          <span>My balance</span>
          <h3>$21,561.21</h3>
        </div>
        <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
      </li>
    </ul>
    <!-- /Page Stats -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tabbable tabbable-custom tabbable-full-width">
        <ul class="nav nav-tabs">
          <li class="active"><a id="post-tab" href="#tab_1_1" data-toggle="tab">Postagem</a></li>
          <li><a href="#tab_1_2" data-toggle="tab">Autor</a></li>
          <li id="comment-tab"><a id="comment-tab" href="#tab_1_3" data-toggle="tab">Comentar</a></li>
        </ul>
        <div class="tab-content row">
          <div class="tab-pane active" id="tab_1_1">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-content">
                  <form>
                    <div class="widget-content">
                      <dl class="dl-horizontal">
                        <dt>Id:</dt>
                        <dd id="id-post">@ViewBag.Post.Id</dd>
                        <dt>Data:</dt>
                        <dd>@ViewBag.Post.ChangeDate</dd>
                        <dt>Assunto:</dt>
                        <dd>@ViewBag.Post.Subject</dd>
                        <dt>Descrição:</dt>
                        <dd>@ViewBag.Post.Description</dd>
                        <dt>Tipo de arquivo(s):</dt>
                        <dd>
                          @if (@ViewBag.Files[0].FileType == 'D')
                          {
                            <p>Documento</p>
                          }
                          else
                          {
                            <p>Manual</p>
                          }
                        </dd>
                        <dt class="file-post-list">Arquivo(s):</dt>
                        @for (int i = 0; i < ViewBag.Files.Count; i++)
                        {
                          <dd class="file-post-list">@(i+1) -  <a href="@Url.Action("showfile", "posts", new { idPost = ViewBag.Post.Id, file = i })" target="_blank">@ViewBag.Files[i].Name</a></dd>
                        }
                      </dl>
                    </div>
                    <div class="form-actions">
                      @await Component.InvokeAsync("BtnBackToList")
                    </div>
                  </form>
                </div>
              </div>
              <div id="comment-list">
                @await Component.InvokeAsync("CommentList", ViewBag.Post.Id)
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab_1_2">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-content">
                  <form class="form-vertical">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-3">
                          @{ var base64 = Convert.ToBase64String(ViewBag.PostAuthor.Photo);
                            var imasrc = string.Format("data:image/png;base64,{0}", base64);
                          }
                          <img id="author-img" src='@imasrc' />
                          <a href="javascript:void(0);" class="list-group-item"><span class="badge">@ViewBag.PostsCount</span>Postagens realizadas</a>
                          <a href="javascript:void(0);" class="list-group-item">Postagens respondidas</a>
                        </div>
                        <div class="col-md-6">
                          <h2>@ViewBag.PostAuthor.Name</h2>
                          <dl class="dl-horizontal">
                            <dt>Usuário de Domínio:</dt>
                            <dd>@ViewBag.PostAuthor.DomainAccount</dd>
                            <dt>E-mail:</dt>
                            <dd>@ViewBag.PostAuthor.Email</dd>
                            <dt>Setor:</dt>
                            <dd>@ViewBag.Department.Description</dd>
                            <dt>Descrição Pessoal:</dt>
                            <dd>@ViewBag.PostAuthor.Description</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-actions">
                        @await Component.InvokeAsync("BtnBackToList")
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane active" id="tab_1_3">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 col-md-offset-1 align-center">
                  <h3>@ViewBag.Post.Subject</h3>
                  <div class="well">
                    @ViewBag.Post.Description
                  </div>
                </div>
              </div>
              <div class="widget box answer-box">
                <div class="widget-content">
                  <form class="form-horizontal row-border" id="comment-form" method="post" enctype="multipart/form-data">
                    <div class="form-group" id="form-group-wang-editor"></div>
                    <div class="form-group">
                      <label class="col-md-2 control-label">Palavras chave</label>
                      <div class="col-md-10">
                        <input class="tags" id="keywords" type="text" name="keywords">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label">Anexar arquivo(s)</label>
                      <div class="col-md-2">
                        <input id="file" type="file" name="files" accept="application/pdf" multiple>
                      </div>
                    </div>
                    <div class="form-actions">
                      <button class="btn btn-primary pull-right" id="submit-button" type="submit">Salvar</button>
                      @await Component.InvokeAsync("BtnBackToList")
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script type="text/javascript" src="~/plugins/prism/js/prism.js"></script>
<script type="text/javascript" src="~/js/modal.js"></script>
<script type="text/javascript" src="~/js/document-manual-details.js"></script>