@model Engeman.Intranet.Models.PostFileViewModel;
@{List<Department> departments = ViewBag.Departments; }
@{List<int> restrictedDepartments = ViewBag.RestrictedDepartments;}
@{string layout = null;}

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/edit-post.css" />

<div class="page-header">
  <div class="page-title">
    <h3>Editar Postagem</h3>
    <span>Good morning, John!</span>
  </div>
  <!-- Page Stats -->
  <ul class="page-stats">
    <li>
      <div class="summary">
        <span>New orders</span>
        <h3>17,561</h3>
      </div>
      <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
      <!-- Use instead of sparkline e.g. this:
      <div class="graph circular-chart" data-percent="73">73%</div>
      -->
    </li>
    <li>
      <div class="summary">
        <span>My balance</span>
        <h3>$21,561.21</h3>
      </div>
      <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
    </li>
  </ul>
  <!-- /Page Stats -->
</div>
<!-- /Page Header -->
<!--=== Page Content ===-->
<div class="row">
  <!--=== Horizontal Forms ===-->
  <div class="col-md-12">
    <div class="widget box">
      <div class="widget-header">
        <h4><i class="icon-reorder"></i>Postagem</h4>
      </div>
      <div class="widget-content">
        <form class="form-horizontal row-border" id="edit-post-form" method="post">
          <div class="form-group">
            <label class="col-md-2 control-label">Código da postagem</label>
            <div class="col-md-1">
              <input id="id-post" class="form-control" name="Id" type="text" readonly value="@Model.Post.Id" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Restrita ao setor?</label>
            <div class="col-md-10">
              @Html.CheckBox("Restricted", @Model.Post.Restricted, new { id = "restricted" })
            </div>
          </div>
          <div class="form-group departments-list">
            <label class="col-md-2 control-label">Setores<span class="required">*</span></label>
            <div class="col-md-10">
              <select id="multiselect-department" multiple="multiple" name="DepartmentsList">
                @{for (int i = 0; i < departments.Count; i++)
                  {
                    if (restrictedDepartments != null)
                    {
                      if (restrictedDepartments.Exists(x => x.Equals(departments[i].Id)))
                      {
                        <option selected="selected" value="@ViewBag.Departments[i].Id">@ViewBag.Departments[i].Description</option>
                      }
                      else
                      {
                        <option value="@ViewBag.Departments[i].Id">@ViewBag.Departments[i].Description</option>
                      }
                    }
                    else
                    {
                      <option value="@ViewBag.Departments[i].Id">@ViewBag.Departments[i].Description</option>
                    }
                  }
                }
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Assunto<span class="required">*</span></label>
            <div class="col-md-10">
              <input class="form-control" id="subject" type="text" name="Subject" value="@Model.Post.Subject">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Palavras chave</label>
            <div class="col-md-10">
              <input class="tags" id="keywords" type="text" name="Keywords" value="@Model.Post.Keywords">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Descrição<span class="required">*</span></label>
            <div class="col-md-10">
              <textarea class="form-control" id="description" rows="3" cols="5" name="Description">@Model.Post.Description</textarea>
            </div>
          </div>

          @if (Model.Files.Count > 0)
          {
            <div class="form-group">
              <label class="col-md-2 control-label">Tipo de arquivo<span class="required">*</span></label>
              <div class="col-md-3">
                <label class="radio">
                  @Html.RadioButtonFor(model => model.Files[0].FileType, "D", new { @class = "file-type" })
                  Documento
                </label>
                <label class="radio">
                  @Html.RadioButtonFor(model => model.Files[0].FileType, "M", new { @class = "file-type" })
                  Manual
                </label>
              </div>
            </div>
            <div class="form-group files">
              <label class="col-md-2 control-label">Arquivo(s)<span class="required">*</span><span class="files-qty">0</span></label>
              <div class="col-md-10">
                @for (int i = 0; i < Model.Files.Count; i++)
                {
                  <label class="checkbox">
                    @Html.HiddenFor(model => model.Files[i].Id, new { @class = "file-id" })
                    @Html.HiddenFor(model => model.Files[i].Active, new { @class = "file-active" })
                    <i title="Remover" class="icon-remove-circle"></i>@(i+1) -  <a href="@Url.Action("showfile", "posts" , new { idPost=Model.Post.Id, file=i })" target="_blank">@Model.Files[i].Name</a>
                  </label>
                }
                <span class="files-qty">0</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Novo(s) arquivo(s)</label>
              <div class="col-md-2">
                <input id="file" type="file" name="Files" accept="application/pdf" multiple>
              </div>
            </div>
          }
          <div class="form-actions">
            <button title="Voltar para as postagens" class="btn btn pull-left back-button"><i class="fa-solid fa-circle-arrow-left"></i>Voltar</button>
            <button class="btn btn-primary pull-right" id="submit-button" type="submit">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="~/js/edit-post.js"></script>
@if (ViewBag.IsAjaxCall == true)
{
  <script type="text/javascript" src="~/js/custom.js"></script>
}