@{List<Department> departments = ViewBag.Departments;}
@{string layout = null;}

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/new-post.css" />

<div class="body-content">
  <!--=== Page Header ===-->
  <div class="page-header">
    <div class="page-title">
      <h3>Postagem</h3>
      <span>Good morning, John!</span>
    </div>
    <!-- Page Stats -->
    <ul class="page-stats">
      <li>
        <div class="summary">
          <span>New orders</span>
          <h3>17,561</h3>
        </div>
        <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
        <!-- Use instead of sparkline e.g. this:
        <div class="graph circular-chart" data-percent="73">73%</div>
        -->
      </li>
      <li>
        <div class="summary">
          <span>My balance</span>
          <h3>$21,561.21</h3>
        </div>
        <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
      </li>
    </ul>
    <!-- /Page Stats -->
  </div>
  <!-- /Page Header -->
  <!--=== Page Content ===-->
  <div class="row">
    <!--=== Horizontal Forms ===-->
    <div class="col-md-12">
      <div class="widget box">
        <div class="widget-header">
          <h4>
            <i class="icon-reorder"></i>
            Nova Postagem
          </h4>
        </div>
        <div class="widget-content">
          <form class="form-horizontal row-border" id="new-post-form" method="post">
            <div class="form-group">
              <label class="col-md-2 control-label">Restrito ao setor?</label>
              <div class="col-md-10">
                @Html.CheckBox("Restricted", new { id = "restricted" })
              </div>
            </div>
            <div class="form-group departments-list">
              <label class="col-md-2 control-label">Setores<span class="required">*</span></label>
              <div class="col-md-10">
                <select id="multiselect-department" multiple="multiple" name="DepartmentsList">
                  @{if (departments != null)
                    {
                      for (int i = 0; i < departments.Count; i++)
                      {
                        <option value="@departments[i].Id">@departments[i].Description</option>
                      }
                    }
                  }
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Assunto<span class="required">*</span></label>
              <div class="col-md-10">
                <input id="subject" class="form-control" type="text" name="Subject">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Palavras chave</label>
              <div class="col-md-10">
                <input class="tags" id="keywords" type="text" name="Keywords">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Descrição<span class="required">*</span></label>
              <div class="col-md-10">
                <div class="form-group">
                  <div class="col-md-12 wang-editor">
                    <div id="wang-editor-toolbar" class="wang-editor-toolbar"></div>
                    <div id="wang-editor-editor" class="wang-editor-editor"></div>
                    <input id="wang-editor-description" class="form-control wang-editor-description" name="Description" type="hidden">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Anexar arquivo(s)?</label>
              <div class="col-md-10">
                @Html.CheckBox("attach-files")
              </div>
            </div>
            <div class="form-group files">
              <label class="col-md-2 control-label">Tipo de postagem<span class="required">*</span></label>
              <div class="col-md-3">
                <label class="radio">
                  @Html.RadioButton("PostType", "D")
                  Documento
                </label>
                <label class="radio">
                  @Html.RadioButton("PostType", "M")
                  Manual
                </label>
              </div>
            </div>
            <div class="form-group files">
              <label class="col-md-2 control-label">Arquivo(s)<span class="required">*</span></label>
              <div class="col-md-2">
                <input id="file" type="file" name="Files" accept="application/pdf" multiple>
              </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-primary pull-right" id="submit-button" type="submit">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Horizontal Forms -->
  </div>
  <!-- /Page Content -->
</div>

<script type="text/javascript" src="~/js/new-post.js"></script>
<script type="text/javascript" src="~/js/components/wang-editor.js"></script>
@if (ViewBag.IsAjaxCall == true)
{
  <script type="text/javascript" src="~/js/custom.js"></script>
}