@using Microsoft.AspNetCore.Http;
@using Engeman.Intranet.Extensions;
@{string layout = null;}

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/plugins/prism/css/prism.css" />
<link rel="stylesheet" href="~/css/post-details.css" />

@await Component.InvokeAsync("ConfirmationModal")
@await Component.InvokeAsync("PageHeader", "Detalhes da postagem")
<div class="row">
  <div class="col-md-12">
    <div class="tabbable tabbable-custom tabbable-full-width">
      <ul class="nav nav-tabs">
        <li class="active"><a id="post-tab" href="#tab_1_1" data-toggle="tab">Postagem</a></li>
        <li><a id="comment-tab" href="#tab_1_3" data-toggle="tab">Comentar</a></li>
      </ul>
      <div class="tab-content row">
        <div class="tab-pane active" id="tab_1_1">
          <div class="col-md-12">
            <h2>@ViewBag.Post.Subject</h2>
            <div class="post-info-div">
              <div>
                <span class="post-info">Identificador</span>
                <span id="post-id">@ViewBag.Post.Id</span>
              </div>
              <div>
                @if (ViewBag.Post.PostedDaysAgo == 0)
                {
                  <span class="post-info">Postada</span>
                  <span>hoje</span>
                }
                else if (ViewBag.Post.PostedDaysAgo == -1)
                {
                  <span class="post-info">Postada</span>
                  <span>ontem</span>
                }
                else
                {
                  <span class="post-info">Postada</span>
                  <span>@ViewBag.Post.PostedDaysAgo dia(s) atrás</span>
                }
              </div>
            </div>
            <hr />
            <div class="col-md-12">
              <div class="editor-content-view">@Html.Raw(@ViewBag.Post.Description)</div>
            </div>
            @if (ViewBag.Post.Files.Count > 0)
            {
              <div class="col-md-12 file-post">
                @for (int i = 0; i < ViewBag.Post.Files.Count; i++)
                {
                  <span class="file-post-list">@(i+1) -  <a href="@Url.Action("showfile", "posts", new { postId = ViewBag.Post.Id, file = i })" target="_blank">@ViewBag.Post.Files[i].Name</a></span><br />
                }
              </div>
            }
            @if (@ViewBag.Post.Keywords != null)
            {
              <div class="col-md-12 keywords">
                @for (int i = 0; i < ViewBag.Post.Keywords.Length; i++)
                {
                  <span class="keywords">@ViewBag.Post.Keywords[i]</span>
                }
              </div>
            }
            <div class="col-md-10 buttons">
              @if (ViewBag.Post.AuthorId == Context.Session.Get<int>("_CurrentUserId") || ViewBag.IsModerator == true)
              {
                <button title="Editar a postagem" class="btn btn-xs edit-post-button"><i class="fa fa-pencil"></i>Editar</button>
                <button title="Excluir a postagem" class="btn btn-xs delete-post-button"><i class="fa fa-trash-o"></i>Excluir</button>
                @if (ViewBag.Post.Revised == false && ViewBag.IsModerator == true)
                {
                  <button title="Aprovar a postagem" class="btn btn-xs aprove-post-button"><i class="fa-solid fa-check"></i>Aprovar</button>
                }
              }
              <button title="Voltar para as postagens" class="btn btn-xs back-button"><i class="fa-solid fa-circle-arrow-left"></i>Voltar</button>
            </div>
            <div class="col-md-2 card">
              <span>postada</span>
              <span>@ViewBag.Post.ChangeDate.GetDateTimeFormats()[0] às @ViewBag.Post.ChangeDate.GetDateTimeFormats()[22]</span>
              <figure class="fir-image-figure">
                <a class="fir-imageover">
                  @{ var base64 = Convert.ToBase64String(ViewBag.Post.AuthorPhoto);
                    var imasrc = string.Format("data:image/png;base64,{0}", base64);
                  }
                  <img class="fir-author-image fir-clickcircle" src='@imasrc'>
                </a>
                <figcaption>
                  <div class="fig-author-figure-title">@ViewBag.Post.AuthorUsername</div>
                  <div class="fig-author-figure-title">@ViewBag.Post.AuthorDepartment</div>
                  <span title="Postagens realizadas"><i class="fa-regular fa-pen-to-square"></i>@ViewBag.Post.AuthorPostsMade</span>
                  <span title="Comentários realizados"><i class="fa-regular fa-comment-dots"></i>@ViewBag.Post.AuthorCommentsMade</span>
                </figcaption>
              </figure>
            </div>
            <div class="status-post align-center">
              @if (ViewBag.Post.Revised == false && (ViewBag.IsModerator == true || ViewBag.UserId == ViewBag.Post.AuthorId))
              {
                <i class="fa-solid fa-triangle-exclamation blinked-exclamation"></i>
                <span>Aguardando Revisão</span>
              }
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <hr />
                @if (ViewBag.Comments.Count == 0)
                {
                  <h4>0 comentários</h4>
                }
                else
                {
                  <h4><span id="comment-count">@ViewBag.Comments.Count</span> comentário(s)</h4>
                }
              </div>
              <div class="comments col-md-12" data-post-id="@ViewBag.PostId">
                @for (int i = 0; i < ViewBag.Comments.Count; i++)
                {
                  <div class="col-md-12 comment-box" data-user-id="@ViewBag.Comments[i].AuthorId" data-comment-id="@ViewBag.Comments[i].Id">
                    @if (i != 0)
                    {<hr />}
                    <div id="editor-content-view" class="col-md-12 editor-content-view">@Html.Raw(@ViewBag.Comments[i].Description)</div>
                    <div class="col-md-12">
                      @if (@ViewBag.Comments[i].Files.Count > 0)
                      {
                        <dl class="file-list">
                          Anexo(s):
                          @for (int j = 0; j < @ViewBag.Comments[i].Files.Count; j++)
                          {
                            <dd class="file"><a href="@Url.Action("showfile", "comments", new { commentId = ViewBag.Comments[i].Id, file = j })" target="_blank">@ViewBag.Comments[i].Files[j].Name</a></dd>
                          }
                        </dl>
                      }
                    </div>
                    <div class="col-md-10 comment-action-buttons">
                      @if (ViewBag.Comments[i].AuthorId == Context.Session.Get<int>("_CurrentUserId") || ViewBag.IsModerator == true)
                      {
                        <button title="Editar o comentário" class="comment-edit-btn btn btn-xs"><i class="fa fa-pencil"></i>Editar</button>
                        <button title="Excluir o comentário" class="comment-delete-btn btn btn-xs"><i class="fa fa-trash-o"></i>Excluir</button>
                        @if (ViewBag.Comments[i].Revised == false && ViewBag.IsModerator == true)
                        {
                          <button title="Aprovar a postagem" class="comment-aprove-btn btn btn-xs"><i class="fa-solid fa-check"></i>Aprovar</button>
                        }
                      }
                    </div>
                    <div class="col-md-2 card">
                      <span>comentada</span>
                      <span>@ViewBag.Comments[i].ChangeDate.GetDateTimeFormats()[0] às @ViewBag.Comments[i].ChangeDate.GetDateTimeFormats()[22]</span>
                      <figure class="fir-image-figure">
                        <a class="fir-imageover">
                          @{ base64 = Convert.ToBase64String(ViewBag.Comments[i].AuthorPhoto);
                            imasrc = string.Format("data:image/png;base64,{0}", base64);
                          }
                          <img class="fir-author-image fir-clickcircle" src='@imasrc'>
                        </a>
                        <figcaption>
                          <div class="fig-author-figure-title">@ViewBag.Comments[i].AuthorUsername</div>
                          <div class="fig-author-figure-title">@ViewBag.Comments[i].AuthorDepartment</div>
                          <span title="Postagens realizadas"><i class="fa-regular fa-comment"></i>@ViewBag.Comments[i].AuthorPostsMade</span>
                          <span title="Postagens respondidas"><i class="fa-regular fa-pen-to-square"></i>@ViewBag.Comments[i].AuthorCommentsMade</span>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="status-post align-center">
                      @if (ViewBag.Comments[i].Revised == false && (ViewBag.IsModerator == true || ViewBag.UserId == ViewBag.Comments[i].AuthorId))
                      {
                        <i class="fa-solid fa-triangle-exclamation blinked-exclamation"></i>
                        <span>Aguardando Revisão</span>
                      }
                    </div>
                    <div class="col-md-12">
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane active" id="tab_1_3">
          <div class="col-md-12">
            <div class="widget box answer-box">
              <div class="widget-content">
                <form class="form-horizontal row-border" id="comment-form" method="post" enctype="multipart/form-data">
                  <div class="form-group" id="form-group-wang-editor">
                    @await Component.InvokeAsync("WangEditor")
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">Anexar arquivo(s)</label>
                    <div class="col-md-10">
                      <input id="file" type="file" name="files" accept="application/pdf" multiple>
                    </div>
                  </div>
                  <div class="form-actions">
                    <button class="btn btn-primary pull-right" id="submit-button" type="submit">Salvar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="~/plugins/prism/js/prism.js"></script>
<script type="text/javascript" src="~/js/post-details.js"></script>
<script type="text/javascript" src="~/js/comment.js"></script>