<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @*JavasScript*@
  <script type="text/javascript" src="~/js/custom.js"></script>
</head>

<body>
  <div id="container">
    <!--=== Page Header ===-->
    <div class="page-header">
      <div class="page-title">
        <h3>Detalhes da Postagem</h3>
        <span>Good morning, John!</span>
      </div>
      <!-- Page Stats -->
      <ul class="page-stats">
        <li>
          <div class="summary">
            <span>New orders</span>
            <h3>17,561</h3>
          </div>
          <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
          <!-- Use instead of sparkline e.g. this:
          <div class="graph circular-chart" data-percent="73">73%</div>
          -->
        </li>
        <li>
          <div class="summary">
            <span>My balance</span>
            <h3>$21,561.21</h3>
          </div>
          <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
        </li>
      </ul>
      <!-- /Page Stats -->
    </div>
    <!-- /Page Header -->
    <!--=== Page Content ===-->
    <div class="row">
      <div class="col-md-12">
        <!-- Tabs-->
        <div class="tabbable tabbable-custom">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#tab_1_1" data-toggle="tab"><h5>Postagem</h5></a>
            </li>
            <li><a href="#tab_1_2" data-toggle="tab"><h5>Autor</h5></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
              <div class="widget box">
                <div class="widget-header">
                  <h4><i class="icon-reorder"></i> Pergunta</h4>
                </div>
                <div class="widget-content">
                  <dl class="dl-horizontal">
                    <dt>Id:</dt>
                    <dd>@ViewBag.Post.Id</dd>
                    <dt>Data:</dt>
                    <dd>@ViewBag.Post.ChangeDate</dd>
                    <dt>Assunto:</dt>
                    <dd>@ViewBag.Post.Subject</dd>
                    <dt>Setor:</dt>
                    <dd>@ViewBag.Post.Description</dd>
                  </dl>
                  <div class="form-actions">
                    <a class="btn pull-left back-to-list-button">Voltar para a lista</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab_1_2">
              <div class="widget box">
                <div class="widget-header">
                  <h4><i class="icon-reorder"></i> Responsável pela postagem</h4>
                </div>
                <div class="widget-content">
                  <dl class="dl-horizontal">
                    <dt>Id:</dt>
                    <dd>@ViewBag.Post.UserAccountId</dd>
                    <dt>Nome de usuário:</dt>
                    <dd>@ViewBag.UserAccount.Name</dd>
                    <dt>Usuário de domínio:</dt>
                    <dd>@ViewBag.UserAccount.DomainAccount</dd>
                    <dt>E-mail:</dt>
                    <dd>@ViewBag.UserAccount.Email</dd>
                    <dt>Setor:</dt>
                    <dd>@ViewBag.Department.Description</dd>
                    <dt>Autodescrição:</dt>
                    <dd>@ViewBag.UserAccount.Description</dd>
                  </dl>
                  <div class="form-actions">
                    <a class="btn pull-left back-to-list-button">Voltar para a lista</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<script type="text/javascript" src="~/js/questiondetails.js"></script>